
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div> 
    <h3>Form Adding Pupil</h3>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.PupilId" name="BookId"/>
        <table>
            <tr>
                <td><p>Insert your name</p></td>
                <td><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td><p>Insert your middle name</p></td>
                <td><input type="text" name="MiddleName"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Add"/></td>
            </tr>
        </table>
    </form>
</div>
